<%- include("header.ejs",{title:"회사소개",cssFiles:["intro.css","header.css","footer.css"]})%>


<div class="top">
    <img src="./img/sub_top.jpg">
</div>
<div id="intro">
    
    <div class="introCenter">
        <ul class="introGnb">
            <li><a href="#">회사소개</a></li>
            <li><a href="#">오시는 길</a></li>
        </ul>
        <p class="title">빅식스란?</p>
        <p class="intro_text">(주)빅식스는 교육의 새로운 패러다임을 제시하기 위해 한국 교육환경에 맞는 프로그램을 연구,개발,보급하고 있습니다. 빅식스는 6단계 이론을 통한 창의적 문제해결 프로젝트를 제공합니다.</p>
        <p class="title">빅식스의 6단계 이론</p>
        <p class="intro_text title1">1단계:주어진 문제를 정확하게 이해하고 문제속에 담긴 의미를 파악합니다.</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">과제 정의 : 과제가 무엇인가요?</p>
            <p class="intro_text sub_text1">과제를 해결하려면 무엇을 알아야 할까요?</p>
        </div>
        <p class="intro_text title1">2단계:문제해결 방법을 계획하고 타당한 결과를 예측합니다.</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">모든 가능한 정보원을 찾아봅니다.</p>
            <p class="intro_text sub_text1">가장 좋은 정보원을 선택합니다.</p>
        </div>
        <p class="intro_text title1">3단계:주어진 정보와 지식의 성격을 이해하고, 정확한 정보를 검색합니다.</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">정보원은 어디에 있을까요?</p>
            <p class="intro_text sub_text1">가장 좋은 정보원을 선택합니다.</p>
        </div>
        <p class="intro_text title1">4단계:문제해결에 필요한 정보를 습득하고 그 의미를 요약합니다.</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">찾아 낸 정보를 검토합니다.(읽기,보기,듣기)</p>
            <p class="intro_text sub_text1">적절한 정보를 가려냅니다.</p>
        </div>
        <p class="intro_text title1">5단계:습득한 정보와 지식을 체계적으로 정리하고, 다양한 방법으로 표현합니다.</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">가려 낸 정보를 정리합니다.</p>
            <p class="intro_text sub_text1">결과물을 완성합니다.</p>
        </div>
        <p class="intro_text title1">6단계:결과물의 효과와 해결과정의 효율성을 평가합니다.</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">결과물을 되돌아봅니다.</p>
            <p class="intro_text sub_text1">해결 과정을 되돌아봅니다.</p>
        </div>
        <p class="title">빅식스 IT 교재</p>
        <P class="intro_text sub_text">빅식스(Big6)이론을 기반으로 연구 개발된 빅식스 IT교재입니다.</P>
        <img src="./img/w1_c_1_1.jpg">
        <p class="intro_text title1">1st과제 정의(Task Definition)</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">빅식스IT교재는 <span>필수 과제를 정의</span>하고 효율적인 학습 방향을 제시합니다.</p>
        </div>
        <p class="intro_text title1">2nd 정보 탐색 전략(Information Seeking Srategies)</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">빅식스IT교재를 이용한 학습 과제에서 핵심 학습 <span>키워드를 탐색</span>합니다. </p>
        </div>
        <p class="intro_text title1">3rd 정보원 위치 파악과 접근(Location and Access)</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">학습 키워드에 맞게 24차시 수업을 쉽게 배울 수 있도록 <span>과제를 제공</span>합니다.</p>
        </div>
        <p class="intro_text title1">5th 종합(Synthesis)</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">본문에서 <span>학습한 기능을 종합</span>하여 제시하는 결과물을 보고 자율학습을 합니다.</p>
        </div>
        <p class="intro_text title1">6th 평가(Evaluation)</p>
        <div class="sub_text">
            <p class="intro_text sub_text1">최종 학습평가표의 기능 항목을 체크하여 내 <span>컴퓨터실력을 평가</span>합니다.</p>
        </div>
    </div>
</div>


<%-include("footer")%>