<div id="footer">
    <div class="f_center">
        <h1><a href="#"><img src="/img/ft_logo.png"></a></h1>
        <div class="f_text">
            <ul class="f_gnb">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="#">오시는길</a></li>
            </ul>
            <div class="f_text1">
                <p>회사명 :(주)빅식스방과후교육연구소 대표:진현주,전희연 주소:경기도 고양시 일산동구 일산로 207 신현대쇼핑타운 23,25호</p>
                <p>사업자등록번호:883-81-02931 대표전화:031-911-7425 FAX:031-912-7425 E-MAIL:shmom0931@naver.com</p>
            </div>
            <p class="Copyright">Copyright © (주)빅식스방과후교육연구소 ALL Right Reserved.</p>
        </div>
    </div>
</div>

<script src="./js/tapmenu.js"></script>