

<%-include("header.ejs",{title:"문제해결력",cssFiles:["header.css","footer.css","problem.css"]})%>


<div class="top">
        <img src="./img/sub_top.jpg">
    </div>
    <div class="center">
        <ul class="gnb">
            <li ><a href="/school">학교교육</a></li>
            <li class="on"><a href="/problem">문제해결력</a></li>
            <li><a href="#">협력총판리스트</a></li>
        </ul>
    
        <img src="./img/w2_c_1_1.jpg">
        <p>교육선진국 미국의 아이젠버그 교수가 개발한 Big6는 창의적 문제해결을 키워주는 6단계의 교육 방법론입니다.</p>
        <p>학습자는 체계적이고 흠미로운6단계에 맞추어 학습하면서 비판적으로 정보를 수용하고, 창의적으로 정보를 활용하여 스스로 자신감을 갖고 문제를 풀어가는 능력을 갖추게 됩니다.</p>
        <p>Big6는 6단계의 정보활용과정을 통해 의사결정을 하고 문제를 해결해 나가면서, 시대가 요구하는 능력을 체계적으로 익히도록 설계되어 있습니다.</p>
        <p>Big6교육을 접한 학생들은 학교에서 우수한 학업능력을 보여 줄 뿐만 아니라 학교 밖에서도 창의적이고 논리적 사고방식으로 살아가는 근본적인 힘을 얻습니다.</p>

        <div class="problem">
        <p class="title">Big6란?</p>
        <p>Big6는 미국 아이젠버그 박사가 지식 기반 사회를 이끌어 갈 인재를 양성하기 위해 개발한 정보 활용 교육 프로그램 입니다.</p>
        <div>
            <div class="icon">
                <img src="./img/w2_c_icon1.png">
            </div>
            <div class="subText">
                <p class="sub1">1.과제정의(Task Definition)</p>
                <p class="sub2">1.1 과제가 무엇인가요?</p>
                <p class="sub2">1.2 과제를 해결하려면 무엇을 알아야 할까요?</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="./img/w2_c_icon2.png">
            </div>
            <div class="subText">
                <p class="sub1">2. 정보탐색전략(Information Seeking Srategies)</p>
                <p class="sub2">2.1 모든 가능한 정보원을 찾아봅니다.</p>
                <p class="sub2">2.2 가장 좋은 정보원을 선택합니다.</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="./img/w2_c_icon3.png">
            </div>
            <div class="subText">
                <p class="sub1">3. 정보원 위치 파악과 접근(Location and Access)</p>
                <p class="sub2">3.1 정보원은 어디에 있을까요?</p>
                <p class="sub2">3.2 정보원에서 정보를 찾아봅니다.</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="./img/w2_c_icon4.png">
            </div>
            <div class="subText">
                <p class="sub1">4. 정보활용(Use of Information)</p>
                <p class="sub2">4.1 찾아 낸 정보를 검토합니다.(읽기,보기,듣기...)</p>
                <p class="sub2">4.2 적절한 정보를 가려냅니다.</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="./img/w2_c_icon5.png">
            </div>
            <div class="subText">
                <p class="sub1">5. 종합(Synthesis)</p>
                <p class="sub2">5.1 가려 낸 정보를 정리합니다.</p>
                <p class="sub2">5.2. 결과물을 완성합니다.</p>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="./img/w2_c_icon6.png">
            </div>
            <div class="subText">
                <p class="sub1">6. 평가(Evaluation)</p>
                <p class="sub2">6.1 결과물을 되돌아봅니다.</p>
                <p class="sub2">6.2 해결과정을 되돌아봅니다.</p>
            </div>
        </div>
    </div>
    </div>

    <%-include("footer.ejs")%>



</body>
</html>