
<%-include("header.ejs",{title:"학교교육",cssFiles:["header.css","footer.css","school.css"]})%>


<div class="top">
    <img src="./img/sub_top.jpg">
</div>
<div class="school">
    <ul class="school_gnb">
        <li class="on"><a href="/school">학교교육</a></li>
        <li><a href="/problem">문제해결력</a></li>
        <li><a href="#">협력총판리스트</a></li>
    </ul>
    <img src="./img/w2_c_1.jpg">
    <p><span>빅식스방과후교육연구소</span>는 초등학교방과후교육의 핵심인 방과후컴퓨터수업에 필요한 IT교재를 중심적으로 연구 및 보급합니다. 우리교재는 초등학교 학생들이 수업을 통하여 과목별 결과물 완성시, 
        어린이들의 성취감과 만족도를 높일 수 있도록 최신트랜드에 맞게 <span>아름다운 한글 글꼴</span>을 사용하자는 취지로 글꼴을 <span>무료로 다운</span>받아 이용하는 예제들로 구성되어 있으며, 
        24차시 다양하고 알찬 교육내용은 물론,본문과 예제에 삽입되어 있는 <span>그래픽</span>도 매우 신선하고 <span>수준 높은 그림</span>으로 시각적 효과를 극대화하여 구성하였습니다.
    </p>
    <p><span>빅식스의 6단계 이론</span>에 맞추어 주어진 문제를 정의하고, 예제를 찾아내고, 예제를 완성하기 위해 정보를 탐새갛고 활용하며 종합한 후 평가하여 작품을 완성해내는 과정을 통해 컴퓨터 실력을 높일 수 있는 
        <span>빅식스의 짱 재미있게! 찐 수행평가까지!! 키움 시리즈</span>는 창의적으로 문제를 해결하여 결과물을 만들어냄으로서 우리 어린이들의 컴퓨터 실력을 한층 더 수준 높게 키워 줄 수 있음을 확신합니다. </p>
</div>


<%-include("footer.ejs")%>

</body>
</html>
