.cont4 { width: 100%; height: 100vh; }



.center4 {

    width: 1200px;
   
    height: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.inner1 {

   width: 100%;
   height: 17%;
   margin-top: 130px;
   background-color:#fbfbfb;
   display: flex;

}


.inner1 >div {
    width: 50%;
    height: 100%;
    padding: 50px 50px  ;
    position: relative;

}


.inner1 >div a h4 { 

    font-size: 24px;
   font-weight: 500;
    color: #333333;
    margin-bottom: 30px;

}

.inner1 > div a h4 span {

    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    color: #555555;
}


.inner1 > div a p { 
    font-size: 15px;
    font-weight: 400;
    color: #999999;

}


.inner1 > div a img {

    position: absolute;
    right: 45px;
    top: 25%;



}


.inner1 >div:nth-child(1)::after {
    display: block;
    content: "";
    width: 2px;
    height:25%;
    
    position: absolute;
    right: 0;
    top: 20%;
    border-right: 1px dashed #c0c0c0;




}



.inner2 {

    width: 100%;
    height: 30%;
    margin: 30px 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner2 .list {

    width: calc((100% - 40px)/3);
    height: 200px;
    text-align: left;
    margin-left: 20px;
    position: relative;



}


.inner2 .list h5 {
    font-size: 16px;
    
    letter-spacing: -.6px;
    font-weight: 300;
    color: #73655f;



}



.inner2 .list h3 {

    font-size: 22px;
    color: #ff722b;
    font-weight: 800;
    margin-bottom: 15px;



}


.inner2 .list p {
    font-size: 16px;
    font-weight: 400;
    color: #555555;



}


.inner2 .list h2 {

    font-size: 30px;
    color: #555;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 32px;


}


.inner2 .list h2 span { 

    font-size: 18px;
    font-weight: 800;


}


.inner2 .list.no3 {
    position: relative;


}


.inner2 .list .plus_btn {

    position: absolute;
    top: 10px;
    right: 0;

    border: 1px solid #838383;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;



}



.inner2 .list.no3 .listSub >p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    text-align: left;
    font-size: 15px;
    color: #666;





}


.inner2 .list.no3 .listSub >p span {

    display: block;


}



.inner2 >div:nth-child(2):after,.inner2 >div:nth-child(3):after {
    display: block;
    content: '';
    clear: both;
    height: 200px;
    border-right: 1px solid #dcdcdc;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -7%;


}







.inner3 {

    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    
}


.inner3 >div {
    padding-right: 70px;
    color: #333;
    font-size: 20px;
    line-height: 58px;
    font-weight: 600;


}

.inner3 > ul {

    width: 990px;
    display: flex;
    justify-content: space-between;


}


.inner3 >ul > li {

    width: 180px;
    height: 60px;


}



.inner3 >ul >li:nth-child(1){

    background-image: url("../img/logo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}


.inner3 >ul >li:nth-child(2){

    background-image: url("../img/logo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}


.inner3 >ul >li:nth-child(3){

    background-image: url("../img/logo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}

.inner3 >ul >li:nth-child(4){

    background-image: url("../img/logo4.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
.inner3 >ul >li:nth-child(5){

    background-image: url("../img/logo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}