.top {width: 100%; margin-top: 76px;}
.top img { width: 100%;}


.center {
 width: 1200px;
 margin: 0 auto;
 display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 
    
}


.gnb {
    height: 53px;
    overflow: hidden;
    margin: 40px auto 0 auto;
    padding: 20px 0 25px 0;
    display: flex;
    
}

.gnb li {
    background: url(../img/sub_menu_line.gif) right no-repeat;
    padding-right: 20px;
    padding-left: 7px;


}


.gnb li a {

    color: #9c9c9c;
    text-align: left;
    vertical-align: middle;
    height: 40px;
    line-height: 35px;
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: bold;



}


.gnb li.on a{

    color: #ff722b;


}


.center > img {

    width: 100%;
    margin: 55px 0 30px 0;


}

.center > p {
    width: 100%;
    font-size: 17px;
    color: #555555;
    line-height: 30px;
    letter-spacing: -1px;
    word-break: keep-all;
    font-weight: 500;
    
}

.problem {


    width: 100%;

    margin: 70px 0;

}
.title {

    padding-left: 28px;
    position: relative;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;

    color: #333333;
    margin-bottom: 30px !important;


}

.title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(../img/bullet1.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;

}


.problem >p {
    font-size: 17px;
    color: #555555;
    line-height: 30px;
    line-height: -1px;
    word-break: keep-all;
    margin-bottom: 35px !important;



}

.problem > div {
    width: 100%;
    display: flex;
    align-items: center;


}


.icon {

    width: calc(((99.9% - 20px) / 5) * 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

}

.subText {

    width: calc(((99.9% - 20px) / 5) * 4);



}


.sub1 {

    padding-left: 13px;
    position: relative;
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #333333;
    margin-bottom: 10px !important;


}


.sub1::before {

    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    width: 3px;
    height: 20px;
    background-color: #ff722b;

}


.sub2 {

    font-size: 17px;
    color: #555555;
    line-height: 30px;
    letter-spacing: -1px;
    


}
